#background_logo_wrap1{width:60%}
#col1{background-image: url("jmi_background.jpg");background-size: cover;background-repeat: no-repeat;}
#background_image_wrap1{background-color: #120000; border: 1px solid black; opacity: 0.7; filter: alpha(opacity=60);}
#background_image_wrap2{background-color: #721817; border: 1px solid black; opacity: .9; filter: alpha(opacity=60);}

.ah-card-1{padding:10px;-webkit-transition: width .5s; transition: width .5s;}
.ah-card-2{width:60%}
.entrepreneurship_talk{background-image: url("entrepreneurship_talk.jpg");background-size: cover;background-repeat: no-repeat;}
.invester_talk{background-image: url("invester_talk.jpg");background-size: cover;background-repeat: no-repeat;}
.get_funded{background-image: url("get_funded.jpg");background-size: cover;background-repeat: no-repeat;}
.startup_expo{background-image: url("startup_expo.jpg");background-size: cover;background-repeat: no-repeat;}
.ah_cards-1-2{width:23%;height:200px;background-color:#721817;float:left;text-align:center;position:relative;margin:1%}
.faq-txt{width:60%;}
.read_more1{opacity:0;}
.read_more1:hover{opacity:.9}
.read_more1 a{position:absolute;top: 50%; left:50%; transform: translate(-50%, -50%);z-index:0}
.member{width:20%;float:left;margin:1%}
.dp{margin-left:auto;margin-right:auto;  border-radius: 500px;position:relative;top:-50px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 200px; width:200px}
.theme1{background-color:#721817;color:#E0E0E2!important}
.theme2{background-color:#FA9F42;color:#721817!important}
.theme3{background-color:#000000;color:white!important}
@media screen and (max-width: 600px) {
	.faq-txt{width:80%;}
	.clg_campus{background-image: url("dark-honeycomb.png");}
	#background_logo_wrap1{width:90%}
	#col1{background-image: url("mobile_jmi_background.jpg");background-size: cover;background-repeat: no-repeat;}
	.ah_cards-1-2{width:90%;height:200px;background-color:#721817;float:left;text-align:center;position:relative;margin:1%}
	.ah-card-2{width:90%}
	.member{width:80%;float:left;margin:1%}
	.dp{margin-left:auto;margin-right:auto;  border-radius: 500px;position:relative;top:-50px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 200px; width:200px}
}
@media screen and (max-width: 1200px) and (min-width: 600px) {
	.member{width:30%;float:left;margin:1%}
	.clg_campus{background-image: url("dark-honeycomb.png");}
	.dp{margin-left:auto;margin-right:auto;  border-radius: 500px;position:relative;top:-50px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 150px; width:150px}
	
}
@media screen and (min-width: 1200px) {
	.clg_campus{background-image: url("clg_campus.jpg");background-size: cover;background-repeat: no-repeat;}
}