<div class="flex" style="justify-content: center" id="countdown">

    <div style="display: inline" class="center">
            <span style="font-size: 3rem" class="green-text" id="days">
                00
            </span> <br>

        <span style="font-size: 1rem;font-weight: 300">
                days
            </span>
    </div>

    <div style="display: inline" class="center">
            <span style="font-size: 3rem" class="green-text">
                :
            </span> <br>

        <span style="font-size: 1rem;font-weight: 300">
                &nbsp;
            </span>
    </div>

    <div style="display: inline" class="center">
            <span style="font-size: 3rem" class="green-text" id="hours">
                00
            </span> <br>

        <span style="font-size: 1rem;font-weight: 300">
                hours
            </span>
    </div>

    <div style="display: inline" class="center">
            <span style="font-size: 3rem" class="green-text">
                :
            </span> <br>

        <span style="font-size: 1rem;font-weight: 300">
                &nbsp;
            </span>
    </div>

    <div style="display: inline" class="center">
            <span style="font-size: 3rem" class="green-text" id="minutes">
                00
            </span> <br>

        <span style="font-size: 1rem;font-weight: 300">
                min
            </span>
    </div>

    <div style="display: inline" class="center">
            <span style="font-size: 3rem" class="green-text">
                :
            </span> <br>

        <span style="font-size: 1rem;font-weight: 300">
                &nbsp;
            </span>
    </div>

    <div style="display: inline" class="center">
            <span style="font-size: 3rem" class="green-text" id="seconds">
                00
            </span> <br>

        <span style="font-size: 1rem;font-weight: 300">
                sec
            </span>
    </div>

</div>

<script>
    // Set the date we're counting down to
    // var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();
    var countDownDate = new Date("March 25, 2019").getTime();
    var daysElement = document.getElementById('days');
    var hoursElement = document.getElementById('hours');
    var minutesElement = document.getElementById('minutes');
    var secondsElement = document.getElementById('seconds');

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        // document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            // + minutes + "m " + seconds + "s ";

        daysElement.innerText = days.toString();
        hoursElement.innerText = hours.toString();
        minutesElement.innerText = minutes.toString();
        secondsElement.innerText = seconds.toString();

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "";
        }
    }, 1000);
</script>
