/*

h2> 2rem

*/

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #777777;
    margin: 0;
}

/* COLOR Definition */
.green{
    background-color: #417505 !important;
}

.green-text{
    color: #417505 !important;
}

/* NAV-BAR HACKS */
nav{
    box-shadow: none !important;
}

nav{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0) !important;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;*/
}

.logo-img{
    height: 40px;
    width: auto;
}

nav ul#nav-mobile li>a{
    height: 64px;
}

nav ul img{
    height: 25px;
}

.nav-bar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.body-padding{
    padding-top: 64px !important;
}

/* Change Color of `nav text` nad make it vertically center */
nav a{
    color: #777777 !important;
}


/* GENERAL */
.center-hv{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INDEX.html */
.full-page{
    min-height: calc(100vh - 64px);
}
.full-image{
    height: 400px;
    width: auto;
}

/* Heading */
.full-page h2{
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 300;
}

/* Card */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.card-content{
    font-weight: 300;
}
.card-content b{
    font-weight: 700;
}

/* Footer HACKS */
.double-ul>li{
    width: 45%;
    display: inline-block;
}



/*
    LARGE
*/
@media only screen and (min-width: 992px) {

    nav .brand-logo {
        margin-left: 10px;
    }

}

/*
    MEDIUM
*/
@media only screen and (max-width: 992px) {
    nav .brand-logo {

    }
}

/*
    SMALL
*/
@media only screen and (max-width: 600px) {

    nav .brand-logo{
        text-align: center;
    }

    .logo-img{
        height: 30px;
    }

    .body-padding{
        padding-top: 56px !important;
    }

    .full-image{
        height: 200px;
        width: auto;
    }
}
